html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

#green-box {
	background-color: chocolate;
	position: relative;
	width: 100%;
	height: 100%;

}

#white-oval {
	width: 50%;
	height: 80%;
	background-color: saddlebrown;
	position: absolute;
	left: 25%;
	top: 10%;
    border-radius: 100%;

}

#man {
	height: 100%;.
position: absolute;
top: 0px;
left: 0px;
float: left;
	
}
#man6 {
	float: left;
position: absolute ;
top: 0px;
left: 10px;
